/*font start*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,700&display=swap');
/*font end*/

/*common css start*/

body{
	margin: 0;
	font-family: font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;

}
/*common css end*/
/*header start*/
header{
	padding: 35px 0px;
}
.container{overflow: hidden;
	margin: 0 auto;
	width: 90%;
	}

.logo{margin-top: 10px;
	float: left;
	width: 13%;}

.logo a{}
.logo a img{width: 100%;}

.menu{
	float:right;
	width: 60%;
	
}
.menu ul{
	list-style: none;
	float: right;
}
.menu ul li{
	float: left;
}
.menu ul li a{text-decoration: none;
text-transform: uppercase;
margin: 10px 45px;
display:inline-block;
color: #626262; }

.menu ul li:last-child a{
	margin-right: 0;
	float: right;
}
.menu ul li a:hover{

}
/*header end*/

/*banner start*/
.banner{}

.b_img{}
.b_img img{
	width: 100%;
}
/*banner end*/
/*newsletter start*/
.container2{
	width: 80%;
	margin: 0 auto;

	
}
.news{
	background-color:#f0f0f0 ;
	padding: 70px 0px;
}
.signup{
	text-align: center;
}

.s_h1{
	color: #333333;
	font-weight: 400;
	font-size: 30px;
	margin-top:0 ;
	margin-bottom: 70px;
}
.s_form{
	width: 400px;
	position: relative;
	margin: 0 auto;

}
.s_form input{
	font-family:  "Playfair Display", serif;
	font-size:1 4px;
	width:345px;
	height: 45px;
	border: none;
	border-bottom:1px solid  #000000 ;
	color: #626626;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 45px;

}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;

}
.s_form input button img{
	width: 100%;
}

/*newsletter end*/